### Type Conversions

In Python, type conversions (also known as type casting) allow you to change the data type of a variable from one type to another. Python provides several built-in functions and techniques for type conversion. Here are some common type conversions in Python.

Python is an object oriented programming language. That is why it uses constructor functions of classes to do conversions from one type into another.

* [Implicit Type Conversion (Coercion)](#implicit-type-conversion-coercion)
* [Explicit Type Conversion (Type Casting)](#explicit-type-conversion-type-casting)
* [Using Constructors](#using-constructors)
* [Using eval()](#using-eval)
* [Using Format Conversion](#using-format-conversion)
* [Using Arithmetic Operations](#using-arithmetic-operations)

## Implicit Type Conversion (Coercion)

Python can perform implicit type conversion when you mix different data types in expressions. For example, when you add an integer and a float, Python will automatically convert the integer to a float before performing the addition.

Implicit type conversion in Python can be convenient, but it's important to understand when and how it occurs, as it may impact the results of your operations.

Implicit type conversion, also known as coercion, happens when Python automatically converts one data type to another during an operation. Here are some examples:

### Integer and Float

When you mix an integer and a float in an operation, Python will convert the integer to a float to perform the operation.

In [1]:
x = 5   # integer
y = 2.5 # float
result = x + y
# Here, the integer 5 is implicitly converted to a float before the addition.
# The result will be 7.5 (float).

print(x, y, result)

5 2.5 7.5

### Integer and String (Concatenation)

You can concatenate strings with integers without explicitly converting the integer to a string. Python will perform the conversion automatically.

In [2]:
name = "Alice"
age = 30
message = "My name is " + name + " and I am " + str(age) + " years old."
# The integer 'age' is implicitly converted to a string for concatenation.
# The 'message' will be "My name is Alice and I am 30 years old."

print(name, age, message)

Alice 30 My name is Alice and I am 30 years old.

### Boolean and Numeric Types

Boolean values (True and False) can be used in numeric operations, where True is treated as 1, and False is treated as 0.

In [3]:
x = 10
is_true = True
is_false = False

result1 = x + is_true
# Here, True is implicitly converted to 1.
# The result1 will be 11.

result2 = x + is_false
# Here, False is implicitly converted to 0.
# The result2 will be 10.

print(x, is_true, is_false, result1, result2)

10 True False 11 10

### String and Numbers in Formatting

When using f-strings or string formatting, you can mix numbers and strings without explicit conversion.

In [4]:
price = 19.99
message = f"The price is ${price}"
# The 'price' (a float) is implicitly converted to a string within the f-string.
# The 'message' will be "The price is $19.99".

print(price, message)

19.99 The price is $19.99

### List Concatenation

You can concatenate lists of different data types without explicit conversion.

In [5]:
list1 = [1, 2, 3]
list2 = ["apple", "banana", "cherry"]
combined_list = list1 + list2
# Lists can contain mixed data types.
# The 'combined_list' will be [1, 2, 3, "apple", "banana", "cherry"].

print(list1, list2, combined_list)

[1, 2, 3] ['apple', 'banana', 'cherry'] [1, 2, 3, 'apple', 'banana', 'cherry']

## Explicit Type Conversion (Type Casting)

You can explicitly convert one data type to another using built-in functions like **int()**, **float()**, **str()**, etc.

Explicit type conversion is useful when you need to ensure that data is of a specific type for a particular operation or when you want to change the representation of data for output or storage.

Explicit type conversion, often referred to as type **casting**, involves manually changing the data type of a variable or value in Python using built-in functions. Here are examples of explicit type conversion:

### Integer to Float

You can convert an integer to a float using the **float()** function.

In [6]:
x = 42
y = float(x)
# 'y' will be 42.0 (a float).

print(x, y)

42 42.0

### Float to Integer

You can convert a float to an integer using the **int()** function. This conversion truncates the decimal part.

In [7]:
a = 3.7
b = int(a)
# 'b' will be 3 (an integer).

print(a, b)

3.7 3

### String to Integer or Float

To convert a string containing a number to an integer or float, use **int()** or **float()**.

In [8]:
num_str = "123"
num_int = int(num_str)
# 'num_int' will be 123 (an integer).

print(num_str, num_int)

num_str = "3.14"
num_float = float(num_str)
# 'num_float' will be 3.14 (a float).

print(num_str, num_float)

123 123
3.14 3.14

### Integer/Float to String

You can convert an integer or float to a string using the **str()** function.

In [9]:
x = 42
y = 3.14
str_x = str(x)
str_y = str(y)
# 'str_x' will be "42" (a string).
# 'str_y' will be "3.14" (a string).

print(x, y, str_x, str_y)

42 3.14 42 3.14

### String to List or Tuple

To convert a string to a list or tuple, you can use the **list()** or **tuple()** constructor.

In [10]:
my_string = "Hello"
string_list = list(my_string)
string_tuple = tuple(my_string)
# 'string_list' will be ['H', 'e', 'l', 'l', 'o'] (a list).
# 'string_tuple' will be ('H', 'e', 'l', 'l', 'o') (a tuple).

print(my_string, string_list, string_tuple)

Hello ['H', 'e', 'l', 'l', 'o'] ('H', 'e', 'l', 'l', 'o')

### List to Set

To convert a list to a set, you can use the **set()** constructor. This removes duplicate elements.

In [11]:
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = set(my_list)
# 'my_set' will be {1, 2, 3, 4, 5} (a set).

print(my_list, my_set)

[1, 2, 2, 3, 4, 4, 5] {1, 2, 3, 4, 5}

### Set to List

To convert a set to a list, you can use the **list()** constructor.

In [12]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
# 'my_list' will be [1, 2, 3, 4, 5] (a list).

print(my_set)
print(my_list)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

### Boolean to Integer

You can convert a boolean value to an integer, where True becomes 1 and False becomes 0.

In [13]:
is_true = True
is_false = False
int_true = int(is_true)
int_false = int(is_false)
# 'int_true' will be 1 (an integer).
# 'int_false' will be 0 (an integer).

print(is_true, is_false, int_true, int_false)

True False 1 0

### Numeric Operation for Explicit Conversion

You can explicitly convert data types during operations. For example, adding an integer and a float.

In [14]:
x = 5
y = 2.5
result = x + int(y)
# 'y' is explicitly cast to an integer before addition.
# 'result' will be 7 (an integer).

print(x, y, result)

5 2.5 7

## Using Constructors

Using constructors in Python involves creating objects of specific data types using their respective constructors or class constructors.

Using constructors allows you to create objects of specific data types and classes, making it easier to work with data and implement custom data structures or objects in your Python code.

Here are some examples of using constructors:

### Integer Constructor int()

You can use the **int()** constructor to create integer objects.

In [15]:
x = int(42)
# 'x' is an integer object with the value 42.

print(x)

42

### Float Constructor float()

The **float()** constructor creates floating-point number objects.

In [16]:
y = float(3.14)
# 'y' is a float object with the value 3.14.

print(y)

3.14

### String Constructor str()

The **str()** constructor creates string objects.

In [17]:
name = str("Alice")
# 'name' is a string object with the value "Alice".

print(name)

Alice

### List Constructor list()

To create a list object, you can use the **list()** constructor.

In [18]:
my_list = list([1, 2, 3])
# 'my_list' is a list object containing the elements [1, 2, 3].

print(my_list)

[1, 2, 3]

### Tuple Constructor tuple()

The **tuple()** constructor creates a tuple object.

In [19]:
my_tuple = tuple((4, 5, 6))
# 'my_tuple' is a tuple object containing the elements (4, 5, 6).

print(my_tuple)

(4, 5, 6)

### Set Constructor set()

You can use the **set()** constructor to create a set object.

In [20]:
my_set = set({1, 2, 2, 3, 3, 3})
# 'my_set' is a set object containing the elements {1, 2, 3}.

print(my_set)

{1, 2, 3}

### Dictionary Constructor dict()

The **dict()** constructor is used to create dictionary objects.

In [21]:
my_dict = dict({"name": "Bob", "age": 30})
# 'my_dict' is a dictionary object with the key-value pairs {"name": "Bob", "age": 30}.

print(my_dict)

{'name': 'Bob', 'age': 30}

### Custom Class Constructor

You can define your own class and its constructor to create custom objects.

In [22]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

person1 = Person("Alice", 25)
person2 = Person("Bob", 30)
# 'person1' and 'person2' are objects of the 'Person' class with custom attributes.

print(person1, person2)

<__main__.Person object at 0x7f626752d1f0> <__main__.Person object at 0x7f626752c5c0>

## Using eval()

The **eval()** function in Python is used to evaluate and execute a dynamically created Python expression as a string. It can also be used to convert a string to its corresponding data type. However, you should be cautious when using **eval()** as it can execute arbitrary code, making it a potential security risk if not used carefully.

Remember that using **eval()** with user input can be risky, so it's important to validate and sanitize the input to avoid potential security vulnerabilities.

Here are some examples of using **eval()**:

### Evaluating Expressions

You can use **eval()** to evaluate mathematical expressions stored as strings.

In [23]:
expression = "3 + 5 * 2"
result = eval(expression)
# 'result' will be 13.

print(expression)
print(result)

3 + 5 * 2
13

### Converting Strings to Integers or Floats

The **eval()** can convert a string containing a number to its corresponding data type.

In [24]:
num_str = "42"
num_int = eval(num_str)
# 'num_int' will be 42 (an integer).

print(num_str, num_int)

num_str = "3.14"
num_float = eval(num_str)
# 'num_float' will be 3.14 (a float).

print(num_str, num_float)

42 42
3.14 3.14

### Converting a List or Tuple from a String

You can use **eval()** to convert a string representation of a list or tuple back into a list or tuple.

In [25]:
list_str = "[1, 2, 3, 4, 5]"
my_list = eval(list_str)
# 'my_list' will be [1, 2, 3, 4, 5] (a list).

tuple_str = "(4, 5, 6)"
my_tuple = eval(tuple_str)
# 'my_tuple' will be (4, 5, 6) (a tuple).

print(list_str, my_list)
print(tuple_str, my_tuple)

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]
(4, 5, 6) (4, 5, 6)

### Using Variables in Eval

You can include variables in the code passed to **eval()**.

Be cautious when using variables within **eval()** to prevent potential security issues.

In [26]:
x = 10
expression = "x * 2"
result = eval(expression)
# 'result' will be 20.

print(x, expression, result)

10 x * 2 20

### Creating Custom Expressions

You can allow users to input and evaluate custom expressions using **eval()**. However, this should be done carefully to avoid code injection vulnerabilities.

In [27]:
user_input = input("Enter an expression: ")
try:
    result = eval(user_input)
    print("Result:", result)
except Exception as e:
    print("Error:", e)

Error: name 'Hola' is not defined

## Using Format Conversion

Format conversion in Python involves using methods like **f-strings**, string formatting, or other techniques to convert values to strings with a specific format.

Format conversion is useful for creating neatly **formatted strings**, particularly when displaying data or generating reports in Python.

Here are examples of using format conversion:

### Using F-strings

F-strings are a convenient way to format strings in Python by embedding expressions inside string literals. They automatically convert variables to strings and allow for formatting.

In [28]:
name = "Alice"
age = 30
formatted_string = f"My name is {name} and I am {age} years old."
# 'formatted_string' will be "My name is Alice and I am 30 years old."

print(name, age, formatted_string)

Alice 30 My name is Alice and I am 30 years old.

### Using .format() Method

You can use the **.format()** method to format strings, replacing placeholders with values.

In [29]:
name = "Bob"
age = 25
formatted_string = "My name is {} and I am {} years old.".format(name, age)
# 'formatted_string' will be "My name is Bob and I am 25 years old."

print(name, age, formatted_string)

Bob 25 My name is Bob and I am 25 years old.

### Using String Concatenation

You can concatenate strings with other data types to implicitly convert them to strings.

In [30]:
price = 19.99
message = "The price is $" + str(price)
# 'message' will be "The price is $19.99".

print(price, message)

19.99 The price is $19.99

### Using str() for Explicit Conversion

You can use the **str()** function to explicitly convert a value to a string.

In [31]:
x = 42
x_str = str(x)
# 'x_str' will be "42".

print(x, x_str)

42 42

### Formatting with Precision (Float to String)

You can use formatting to control the precision of floating-point numbers.

In [32]:
value = 3.14159265359
formatted_value = f"{value:.2f}"
# 'formatted_value' will be "3.14".

print(value, formatted_value)

3.14159265359 3.14

### Using join() to Convert a List to a String

You can use the **join()** method to convert a list to a string with a specific separator.

In [33]:
items = ["apple", "banana", "cherry"]
item_string = ", ".join(items)
# 'item_string' will be "apple, banana, cherry".

print(items, item_string)

['apple', 'banana', 'cherry'] apple, banana, cherry

### Using String Slicing

You can convert a portion of a string to another string using **slicing**.

In [34]:
full_string = "Hello, World"
sliced_string = full_string[0:5]
# 'sliced_string' will be "Hello".

print(full_string, sliced_string)

Hello, World Hello

### Using format() for Complex Formatting

You can use the **format()** method to perform more complex formatting, including aligning text and specifying field widths.

In [35]:
name = "John"
age = 25
formatted_string = "Name: {0:10} | Age: {1:3}".format(name, age)
# 'formatted_string' will be "Name: John       | Age: 25".

print(name, age, formatted_string)

John 25 Name: John       | Age:  25

## Using Arithmetic Operations

Arithmetic operations can implicitly convert data types. For example, division (/) between two integers results in a float.

Using arithmetic operations in Python can implicitly convert data types and provide various results.

Arithmetic operations in Python provide opportunities for implicit type conversion, which can be useful for working with mixed data types and for getting the desired results from calculations.

Here are examples of using arithmetic operations for type conversion:

### Integer Division //

When you perform integer division between two integers, Python returns an integer result. It implicitly converts the result to an integer by discarding the decimal part.

In [36]:
x = 10
y = 3
result = x // y
# 'result' will be 3 (an integer).

print(x, y, result)

10 3 3

### Float Division /

If you want to ensure a floating-point result from division, you can use the / operator. This explicitly converts the result to a float.

In [37]:
x = 10
y = 3
result = x / y
# 'result' will be 3.3333333333333335 (a float).

print(x, y, result)

10 3 3.3333333333333335

### Mixed Data Types in Arithmetic Operations

Python implicitly converts data types during arithmetic operations. For example, when you add an integer and a float, the integer is converted to a float to perform the operation.

In [38]:
x = 5  # integer
y = 2.5  # float
result = x + y
# 'result' will be 7.5 (a float).

print(x, y, result)

5 2.5 7.5

### Implicit Conversion in Expressions

Implicit type conversion occurs when different data types are combined in expressions. For instance, when adding an integer and a boolean.

In [39]:
x = 10
is_true = True
result = x + is_true
# 'is_true' (boolean) is implicitly converted to 1, and the result is 11 (an integer).

print(x, is_true, result)

10 True 11

### Implicit Conversion in Boolean Expressions

Boolean expressions often involve implicit conversion. For example, when comparing an integer and a float.

In [40]:
x = 5
y = 5.0
result = x == y
# The integer 'x' is implicitly converted to a float before the comparison.
# 'result' will be True (a boolean).

print(x, y, result)

5 5.0 True

### Mixed Data Types in Other Operations

Implicit conversion also occurs in other operations, such as subtraction, multiplication, and modulus.

In [41]:
x = 7  # integer
y = 2.0  # float
result1 = x - y  # Implicit conversion to float, result1 will be 5.0.
result2 = x * y  # Implicit conversion to float, result2 will be 14.0.
result3 = x % 3  # Implicit conversion to integer, result3 will be 1.

print(x, y, result1, result2, result3)

7 2.0 5.0 14.0 1

### Using Arithmetic Operations for Explicit Conversion

You can use arithmetic operations to explicitly convert data types. For example, adding an integer and a float and then converting the result to an integer.

In [42]:
x = 5
y = 2.5
result = int(x + y)
# 'x' and 'y' are added, and the result is 7.5 (a float),
# which is then explicitly converted to an integer.
# 'result' will be 7 (an integer).

print(x, y, result)

5 2.5 7

---

It's important to be aware of the potential loss of information or unexpected results when performing type conversions, especially between different numeric types. Ensure that the conversion makes sense in the context of your program and handle exceptions if necessary.